body {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.form-group {
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete_results_ul {
  border: 1px solid #ccc;
  border-top: 0;
  width: 100%;
  padding: 5px 0;
  max-height: 200px;
  overflow-y: scroll;
}

.autocomplete_results_ul {
  cursor: pointer;
}
.autocomplete_results_ul li {
  padding: 5px;
  border-bottom: 1px solid #aaa;
}
.autocomplete_results_ul li:last-child {
  border: 0;
}
.autocomplete_results_ul li.active {
  background-color: #eee;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  display: flex;
}

.col-6 {
  width: 50%;
  display: flex;
}

form {
  display: flex;
}

.form-group + .form-group {
  margin-left: 50px;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}
